* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body
{
  background-color: #262626;
}


.title
{
  display: flex;
  gap: 0.5rem;
}

.hub
{
  background-color: white;
  color: black;
  padding: 0px 15px;
  border-radius: 8px;
}

.header
{
  background-color: #171717;
  width: 100%;
  padding: 15px 5%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  color: white;
  border-bottom: 2px solid #ffffff;
}

.search
{
  width: 20%;
  padding: 10px;
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  font-size: 16px;
}

.news-articles
{
  width: 100%;
  height: auto;
  background-color: #262626;
  padding: 30px 2%;
  display: flex;
  column-gap: 4%;
  flex-wrap: wrap;
  row-gap: 30px;
  padding-top: 100px;
}

.news
{
  width: 22%;
  padding: 20px;
  background-color: #171717;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  row-gap: 8px;
  color: white;
}

.news a
{
  color: blue;
  width: fit-content;
}

.news-img
{
  width: 100%;
  height: 200px;
  /* background-color: gray; */
  padding: 10px;
  border-radius: 5px;
  overflow: hidden;
}
.news-img img{
  width: 100%;
  height: 100%;
}

.source
{
  width: 100%;
  display: flex;
  justify-content: space-between;
  color: gray;
  /* position: relative; */
  bottom: 0%;
  font-size: 12px;
  overflow: hidden;
}

.source p{
  width: 35%;
}
